@tailwind base;
@tailwind components;
@tailwind utilities;

.htmlScreen iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background: #000000;
}

#overlay-cont {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.6;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.arrow-cont {
  width: 150px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: rotate(45deg);
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}

.arrow-right {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: rotate(45deg);
  border-right: 3px solid white;
  border-top: 3px solid white;
}

.skill-card {
  margin: 10px;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
}

.skill-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgb(5, 6, 45);
  border-radius: 50%;
  width: 100%;
}

.toggle-cont {
  width: 102px;
  height: 24px;
  border-radius: 20px;
  border: 2px solid white;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.toggle-cont > div {
  width: 15px;
  height: 15px;

  border-radius: 50%;
}

.yellowIcon {
  background-color: yellow;
}

.blueIcon {
  background-color: blue;
}

.redIcon {
  background-color: red;
}

.greenIcon {
  background-color: green;
}

.orangeIcon {
  background-color: orange;
}

.ball {
  width: 15px;
  height: 15px;
  background-color: #868686;
  border-radius: 50%;
  position: absolute;
  transition: all;
  transition-duration: 0.5s;
}
