@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.htmlScreen iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background: #000000;
}

#overlay-cont {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.6;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.mob-arrow-component {
  height: 100px;
  width: 100%;
}

.arrow-cont {
  width: 150px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: rotate(45deg);
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}

.mob-arrow-left {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: rotate(45deg);
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}

.arrow-right {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: rotate(45deg);
  border-right: 3px solid white;
  border-top: 3px solid white;
}

.mob-arrow-right {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: rotate(45deg);
  border-right: 3px solid white;
  border-top: 3px solid white;
}

.skill-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgb(5, 6, 45);
  border-radius: 50%;
  width: 100%;
}

.button-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30px;
  background: rgb(5, 6, 45);
  border-radius: 15px;
  width: 100%;
}

.toggle-cont {
  width: 102px;
  height: 24px;
  border-radius: 20px;
  border: 2px solid white;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.toggle-cont > div {
  width: 15px;
  height: 15px;

  border-radius: 50%;
}

.ball {
  width: 15px;
  height: 15px;
  background-color: #868686;
  border-radius: 50%;
  position: absolute;
  transition: all;
  transition-duration: 0.5s;
}

.canvas-cont {
  height: 250px;
}

@media only screen and (min-width: 370px) {
  .canvas-cont {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .sub-title {
    top: 105px;
  }
}

@media only screen and (min-width: 768px) {
  .sub-title {
    bottom: 60px;
  }
}
